$color1: #FFED12
$color2: #E8BA00
$color3: #FFE015
$color4: #E8B600
$color5: #FFAE0F

$dark1: #696969
$dark2: #595a5c
$dark3: #3b3c38

$light1: #cfd9de
$light2: $dark3
$light3: #cdd5d5

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;800&display=swap')

body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  scroll-behavior: smooth

body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 1.5em

main
  margin: 0
  padding: 0
  display: grid
  grid-template-columns: 100%

//.clean
  text-align: center
  padding: 50vh 0 50vh 0
  background: transparent
  font-size: 5vw
  font-weight: 100
  letter-spacing: 4vw
  text-decoration: none
  color: $light2
  text-shadow: 0 0 40vw $light2



//.mainmain
  margin: auto
  padding: auto
  top: 0
  left: 0
  width: 100%
  position: fixed
  z-index: -1

.maintitle
  text-align: center
  padding: 50vh 0 50vh 0
  background: linear-gradient(to right, rgb(253, 200, 48), rgb(243, 115, 53))
  font-size: 5vw
  font-weight: 100
  letter-spacing: 4vw
  text-decoration: none
  color: $light2
  text-shadow: 0 0 40vw $light2

.titlepic
  width: 100%

.sectiontitle
  padding: 1%
  font-size: 3em
  font-weight: 800
  text-align: center
  background: $dark1
  color: $light2

.section
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(54.668rem,1fr))
  grid-template-rows: auto
  img
    width: 100%
  .text
    display: grid
    grid-template-columns: 10% 1fr 10%
    grid-template-rows: repeat(3, auto)
    grid-template-areas: ". . ."". t ."". . ."
    background: $light2
    color: $dark1
    p
      grid-area: t
      line-height: 1.7

footer
  background: $dark1
  padding: 5%



@media screen and (max-width: 1143px)
  .section
    grid-template-columns: 100%
    .text
      grid-template-columns: 5% 1fr 5%
  .maintitle
    font-weight: 400

@media (orientation:portrait)
  .section
    grid-template-columns: 100%
    .text
      grid-template-columns: 5% 1fr 5%
  .maintitle
    font-weight: 400
