$color1: #FFED12
$color2: #E8BA00
$color3: #FFE015
$color4: #E8B600
$color5: #FFAE0F

$dark1: #3b3c38

$light1: #696969
$light2: rgb(163, 163, 163)

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;800&display=swap')

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(https://example.com/MaterialIcons-Regular.eot) /* For IE6-8 */
  src: local('Material Icons'),

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'


body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  scroll-behavior: smooth

body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 1.5em

::selection
  background: $light2

main
  margin: 0
  padding: 0
  display: grid
  grid-template-columns: 100%

.maintitle
  margin: 0
  text-align: center
  padding: 50vh 0 50vh 0
  background: linear-gradient(to right, rgb(253, 200, 48), rgb(243, 115, 53))
  font-size: 5vw
  font-weight: 100
  letter-spacing: 4vw
  text-decoration: none
  color: $dark1
  text-shadow: 0 0 40vw $dark1

.maintitle::selection
  background: transparent


.about
  background: $light1
  padding: 5%
  strong
    font-size: 3em
    color: $dark1
  p
    color: $dark1
    line-height: 1.7em
    font-size: 1.2em

.titlepic
  width: 100%

.sectiontitle
  padding: 1%
  font-size: 3em
  font-weight: 800
  text-align: center
  background: $light1
  color: $dark1

.section
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(54.668rem,1fr))
  grid-template-rows: auto
  img
    width: 100%
  .text
    display: grid
    grid-template-columns: 10% 1fr 10%
    grid-template-rows: repeat(3, auto)
    grid-template-areas: ". . ."". t ."". . ."
    background: $dark1
    color: $light1
    p
      grid-area: t
      line-height: 1.7
      font-size: 1em

footer
  background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69))
  padding: 5% 3%
  display: flex
  justify-content: center
  justify-content: space-around
  flex-wrap: wrap


.footelement
  padding: 2%
  flex: 1 0 26%
  background: $dark1
  color: $light1
  border-radius: 20px
  margin: 10px
  display: grid
  grid-gap: 20px
  //all cards general styling
  div
    display: flex
    justify-content: space-between
    align-items: center
  //Last Card Social Media sytlying
  .foottitle
    p
      font-size: 1.5em
      font-weight: 800
  .social
    display: flex
    justify-content: space-around
    a
      color: $light1
      transition: 300ms all ease-in-out
      &:hover
        color: $light2
  //First card small menu styling
  .footmenu
    ul
      width: 100%
      margin: 0
      padding: 0
      list-style: none
      display: flex
      justify-content: space-between
      li
        a
          transition: 300ms all ease-in-out
          text-decoration: none
          color: $light1
          &:hover
            color: $light2
  //mail link styling
  .mail
    p
      a
        transition: 300ms all ease-in-out
        text-decoration: none
        color: $light1
        &:hover
          color: $light2

















//smaller than 1920px
@media screen and (max-width: 1920px)
  .about
    p
      font-size: 0.8em
  .section
    .text
      p
        font-size: 0.8em

//smaller than 1143px
@media screen and (max-width: 1143px)
  .section
    grid-template-columns: 100%
    .text
      grid-template-columns: 5% 1fr 5%
  .maintitle
    font-weight: 400
  .footelement
    flex: 1 0 100%
    div
      padding: 0 7%


@media (orientation:portrait)
  .section
    grid-template-columns: 100%
    .text
      grid-template-columns: 5% 1fr 5%
  .maintitle
    font-weight: 400
  .footelement
    flex: 1 0 100%
