@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;800&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local("Material Icons");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

::selection {
  background: #a3a3a3;
}

main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
}

.maintitle {
  margin: 0;
  text-align: center;
  padding: 50vh 0 50vh 0;
  background: linear-gradient(to right, #fdc830, #f37335);
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 4vw;
  text-decoration: none;
  color: #3b3c38;
  text-shadow: 0 0 40vw #3b3c38;
}

.maintitle::selection {
  background: transparent;
}

.about {
  background: #696969;
  padding: 5%;
}
.about strong {
  font-size: 3em;
  color: #3b3c38;
}
.about p {
  color: #3b3c38;
  line-height: 1.7em;
  font-size: 1.2em;
}

.titlepic {
  width: 100%;
}

.sectiontitle {
  padding: 1%;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  background: #696969;
  color: #3b3c38;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(54.668rem, 1fr));
  grid-template-rows: auto;
}
.section img {
  width: 100%;
}
.section .text {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: ". . ." ". t ." ". . .";
  background: #3b3c38;
  color: #696969;
}
.section .text p {
  grid-area: t;
  line-height: 1.7;
  font-size: 1em;
}

footer {
  background: linear-gradient(to right, #232526, #414345);
  padding: 5% 3%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footelement {
  padding: 2%;
  flex: 1 0 26%;
  background: #3b3c38;
  color: #696969;
  border-radius: 20px;
  margin: 10px;
  display: grid;
  grid-gap: 20px;
}
.footelement div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footelement .foottitle p {
  font-size: 1.5em;
  font-weight: 800;
}
.footelement .social {
  display: flex;
  justify-content: space-around;
}
.footelement .social a {
  color: #696969;
  transition: 300ms all ease-in-out;
}
.footelement .social a:hover {
  color: #a3a3a3;
}
.footelement .footmenu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footelement .footmenu ul li a {
  transition: 300ms all ease-in-out;
  text-decoration: none;
  color: #696969;
}
.footelement .footmenu ul li a:hover {
  color: #a3a3a3;
}
.footelement .mail p a {
  transition: 300ms all ease-in-out;
  text-decoration: none;
  color: #696969;
}
.footelement .mail p a:hover {
  color: #a3a3a3;
}

@media screen and (max-width: 1920px) {
  .about p {
    font-size: 0.8em;
  }

  .section .text p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1143px) {
  .section {
    grid-template-columns: 100%;
  }
  .section .text {
    grid-template-columns: 5% 1fr 5%;
  }

  .maintitle {
    font-weight: 400;
  }

  .footelement {
    flex: 1 0 100%;
  }
  .footelement div {
    padding: 0 7%;
  }
}
@media (orientation: portrait) {
  .section {
    grid-template-columns: 100%;
  }
  .section .text {
    grid-template-columns: 5% 1fr 5%;
  }

  .maintitle {
    font-weight: 400;
  }

  .footelement {
    flex: 1 0 100%;
  }
}

/*# sourceMappingURL=master.css.map */
